#
# Logging
#

# TODO: Rename 'critical' to something more descriptive.
log.open_file = "crash.log", /data/local/log/crash.log
log.add_output = "critical", "crash.log"

log.open_file = "dht_all.log", /data/local/log/dht_all.log
log.add_output = "dht_all", "dht_all.log"

log.open_file = "connection.log", /data/local/log/connection.log
log.add_output = "connection", "connection.log"


# TODO: Refactor:
log.open_file = "rtorrent.log", /data/local/log/rtorrent.log
log.open_file = "torrent.log", /data/local/log/torrent.log
log.open_file = "socket.log", /data/local/log/socket.log
log.open_file = "storage.log", /data/local/log/storage.log
log.open_file = "thread.log", /data/local/log/thread.log
log.open_file = "tracker.log", /data/local/log/tracker.log

log.add_output = "debug", "rtorrent.log"
log.add_output = "torrent_debug", "torrent.log"
log.add_output = "socket_debug", "socket.log"
log.add_output = "storage_debug", "storage.log"
log.add_output = "thread_debug", "thread.log"
log.add_output = "tracker_debug", "tracker.log"

log.open_file = "old_dht.log", /data/local/log/old_dht.log
log.add_output = "dht_debug", "old_dht.log"


#
# Settings:
#

print = "Loaded from '/etc/rtorrent.rc'"

directory.default.set = "/data/torrents"
session.path.set = "/data/local/session"

#directory.watch.added = /data/shared/watch, load.start

schedule = watch_directory,5,5,load.start=/data/shared/watch/*.torrent
schedule = watch_untied, 10, 10, remove_untied=

#
# Per-node optional resource file:
#

try_import = /data/local/config/extra.rc

#
# Others:
#

network.scgi.open_port = ":5001"

#
# DHT:
#

#dht=on
#schedule = dht_add_node,2,0,((dht.add_node,router.utorrent.com:6881))
