#
# Logging
#

# TODO: Rename 'critical' to something more descriptive.
log.open_file = "crash", /data/local/log/crash.log
try = ((log.add_output, "critical", "crash"))

log.open_file = "rpc", /data/local/log/rpc.log
try = ((log.add_output, "rpc", "rpc"))

log.open_file = "dht_all", /data/local/log/dht_all.log
log.open_file = "connection", /data/local/log/connection.log
log.open_file = "system", /data/local/log/system.log
log.open_file = "peer_list", /data/local/log/peer_list.log

try = ((log.add_output, "dht_all", "dht_all"))
try = ((log.add_output, "connection", "connection"))
try = ((log.add_output, "system", "system"))
try = ((log.add_output, "peer_list_address", "peer_list"))
try = ((log.add_output, "peer_list_events", "peer_list"))


# TODO: Refactor:
log.open_file = "rtorrent", /data/local/log/rtorrent.log
log.open_file = "torrent", /data/local/log/torrent.log
log.open_file = "socket", /data/local/log/socket.log
log.open_file = "storage", /data/local/log/storage.log
log.open_file = "thread", /data/local/log/thread.log
log.open_file = "tracker", /data/local/log/tracker.log
log.open_file = "old_dht", /data/local/log/old_dht.log

try = ((log.add_output, "debug", "rtorrent"))
try = ((log.add_output, "torrent_debug", "torrent"))
try = ((log.add_output, "socket_debug", "socket"))
try = ((log.add_output, "storage_debug", "storage"))
try = ((log.add_output, "thread_debug", "thread"))
try = ((log.add_output, "tracker_debug", "tracker"))
try = ((log.add_output, "dht_debug", "old_dht"))


#
# Settings:
#

print = "Loaded from '/etc/rtorrent.rc'"

directory.default.set = "/data/torrents"
session.path.set = "/data/local/session"

#directory.watch.added = /data/shared/watch, load.start

schedule = watch_directory,5,5,load.start=/data/shared/watch/*.torrent
schedule = watch_untied, 10, 10, remove_untied=

#
# Per-node optional resource file:
#

#try_import = /data/shared/config/dht.rc
#try_import = /data/shared/config/debug.rc
try_import = /data/shared/config/extra.rc

try_import = /data/local/config/extra.rc

#
# Others:
#

network.scgi.open_port = ":5001"

#
# DHT:
#

#dht=on
#schedule = dht_add_node,2,0,((dht.add_node,router.utorrent.com:6881))
